main {
    width: 800px;
    margin: 0 auto;
}
div {
    margin: 10px 0;
}

.fa-4 {
    font-size: 7em;
}

header{
    font-size: 20px;
    font-style: italic;
    color: chocolate;
    margin-top: 2em;
}